{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Stmt1446227808000",
            "Effect": "Deny",
            "Action": [
                "s3:DeleteBucket"
            ],
            "Resource": [
                "arn:aws:s3:::billing/*"
            ]
        }
    ]
}
